/* custom-fonts */
@font-face {
    font-family: roboto-regular;
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: roboto-bold;
    src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: roboto-medium;
    src: url('../fonts/Roboto-Medium.ttf');
}

html {
    overflow-x: hidden;
}

h1,h2,h3,h4,h5 {
    font-family: roboto-bold;
}

p {
    font-family: roboto-regular;
}

a:hover {
    text-decoration: none;
}

.logo a:hover, .logo a:focus {
background: transparent !important;

}

body {
    background-color: #fff;
}

iframe html {
    overflow-x: hidden;
}



/* color */
.text-color-white {
    color: #fff;
}

.main-bkg-color {
    background-color: #25ABD1;
}

.main-color {
    color: #2d3e52;
}

/* nav */
.nav-space {
    padding: 10px 50px;    
}

.nav-space-items {
    padding: 15px 50px;
}

.logo {
    width: 144px;
}

.nav-space-items li > a {
    font-family: roboto-regular;
    font-size: 18px;
    color: white;
    font-weight: bolder;
    transition: all 0.4s ease;
}

.nav-space-items li > a:focus,
.nav-space-items li:hover > a {
    background-color: #2d3e52;
    color: white;
    cursor: pointer;
}

.uk-navbar-nav>li.uk-active>a {
    background-color: #2d3e52;
    color: white;
}

.menu {
  position: fixed;
  width: 100%;
  z-index: 999;
}

/* responsive-nav */
#mobile-menu {
   display: inline-block;
 
}

.close-link, .hamburger {
    position: absolute;
    color: white;
    font-size: 25px;
    right: 40px;
    top: 19px;
    transition: all 0.4s ease;
}

.close-link:hover, .hamburger:hover {
    color: #2d3e52;
}

#mobile-nav {
    height: 100vh;
    background-color: #2d3e52;
    top: 60px;
    position: fixed;
    padding: 18px 0 0 0;
    z-index: 999;
}

#mobile-nav ul {
    list-style: none;
}


#mobile-nav ul li  {
    padding: 25px 10px;
    font-family: roboto-bold;
    text-transform: uppercase;   
}

#mobile-nav ul li > a  {
    font-size: 30px;
    color: white;
    text-transform: uppercase;  
    transition: all .4s ease;
}

#mobile-nav ul li > a:hover  {
    color: #25ABD1;
}


.uk-close {
    opacity: 1;
}   

.social-icons-nav {
    list-style: none;
    padding: 0;
    text-align: center;
}

.social-icons-nav li {
    display: inline-block;
    padding: 20px 20px; 
}

.social-icons-nav li > a {
    color: #2d3e52;
    font-size: 30px;  
    transition: all .4s ease;
}

.social-icons-nav li > a:hover {
    color: #25ABD1;
}




/* buttons */
.ups-button
{
    background-color: #25ABD1;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: roboto-bold;
    transition: all 0.4s ease;
}

.ups-button:hover
{
    background-color: #2d3e52;
    color: white;
    text-decoration: none;
}

/* space */
.ups-space
{
    padding: 100px 0px;
}

.ups-space-up-10
{
    padding-top: 10px;
}

.ups-space-up-20
{
    padding-top: 20px;
}

.ups-space-up-30
{
    padding-top: 30px;
}

.ups-space-up-40
{
    padding-top: 40px;
}

.ups-space-up-50
{
    padding-top: 50px;
}

.ups-space-up-100
{
    padding-top: 100px;
}

.ups-no-margin
{
    margin: 0;
}

.ups-nopadding-bottom
{
    padding-bottom: 0px;
}

.ups-content
{
    padding: 10% 0px; 
}

.ups-container {
    width: 80%;
}

.ups-section
{
    width: 85%;
    margin: 0 auto;
}
/* text */
.ups-title
{
    font-size: 90px;
    font-family: roboto-bold;
    color: #2d3e52;
    line-height: 1em;
}

.ups-sub-title
{
    font-family: roboto-medium;
    font-size: 40px;
    color: #2d3e52;
}

.blue-text
{
    color: #25ABD1;
}

.ups-font-size-20
{
    font-size: 20px;
}

/* images */

.parallax-background {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}





