/* herobanner styles */

#herobanner {
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    /* background-position: right top; */
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    overflow: hidden;
}

.overlay {
    position: relative;
}

.overlay:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.filter:before {
    background-color: rgba(0, 0, 0, 0.8);
}

.ups-banner-container {
    position: relative;
    width: 45%;
}

.ups-banner-content {
    margin-top: 100px
}

.text-slide {
    overflow: visible;
}

.banner-text {
    font-size: 100px;
    font-family: roboto-bold;
    text-align: center;
    line-height: 1;
    color: #2d3e52;
}

.cta {
    padding-top: 20px;
    text-align: center;
}


/* about */

#about {
    height: 60%;
    position: relative;
}

.about-greeting {
    font-size: 50px;
    font-family: roboto-medium;
}

.about-text {
    font-size: 25px;
    font-family: roboto-medium;
    line-height: 1.2em;
}

.about-button-cta {
    font-size: 20px;
}

.mascot-image {
    position: absolute;
    right: -100px;
    bottom: 0;
    width: 45%;
}


/* cta-one */

#cta-one {
    height: 30%;
}

.cta-text {
    color: white;
    position: relative;
    font-size: 50px;
    line-height: 1.2em;
}


/* service */

.service-icon {
    font-size: 2em;
}

.service-title {
    font-family: roboto-bold;
    font-size: 30px;
}

.service-desc {
    font-family: roboto-regular;
    font-size: 18px;
    color: #2d3e52;
    width: 80%;
    line-height: 25px;
}

.ups-accordion {
    width: 100%;
}

.ups-accordion .uk-accordion-title {
    background: transparent;
}

.ups-icon-acc {
    font-size: 48px;
    padding-right: 10px;
}

.uk-accordion-title {
    transition: all .4s ease;
    color: #2d3e52;
    font-family: roboto-bold;
    font-size: 25px;
}

.uk-accordion-title:hover {
    color: #25ABD1;
}


/* testimonies */

.uk-overlay {
    cursor: pointer;
}

.uk-dotnav>.uk-active>* {
    background: rgb(45, 62, 82);
}

.uk-dotnav>*>* {
    background: #7C94B0;
}

.uk-slidenav-position {
    padding-top: 20px;
    text-align: center;
}

.uk-dotnav {
    padding-top: 60px;
}

.uk-slideset li {
    text-align: center;
}

.uk-grid li>figure {
    border-radius: 50%;
}

.uk-slideset p {
    font-size: 20px;
    /* text-align: center; */
    font-family: roboto-medium;
}

.figure-img {
    filter: grayscale(50%);
    -webkit-filter: grayscale(50%);
    -moz-filter: grayscale(50%);
}

.bkg-caption {
    transition: all .4s ease;
    background: rgba(45, 62, 82, .8);
}

.bkg-caption>h5 {
    position: absolute;
    top: 104px;
    font-weight: 700;
    font-size: 18px;
    left: 0;
    line-height: 24px;
    right: 0;
    color: #f7f7f7;
    font-family: roboto-bold;
}

.bkg-caption>span {
    position: absolute;
    top: 128px;
    font-weight: 300;
    font-size: 14px;
    left: 0;
    line-height: 19px;
    right: 0;
    color: #f7f7f7;
    font-family: roboto-medium;
}


/* clients */

.client-section-background {
    background: #2d3e52;
}

.client-logo {
    display: inline-block;
    max-width: 125px;
    cursor: pointer;
}

.client-logo-container {
    vertical-align: middle;
    line-height: 125px
}

.ups-content-client {
    padding: 50px 0px;
}


/* contact */

.input__field {
    height: 45px;
    font-size: 20px !important;
    line-height: 1.6;
    vertical-align: middle;
    padding-left: 33px;
    font-family: roboto-medium;
}

.input--kohana {
    background: #F3F3F3;
}

.input__label-content {
    padding: 0px;
}

.input__label--kohana,
.icon {
    color: #9A9696;
    line-height: 0.6;
    font-size: 20px;
}

.input__label--kohana {
    font-family: roboto-medium;
    font-weight: normal;
}

.icon {
    position: relative;
    left: -13px;
    width: 35px;
}

.input {
    max-width: 485px;
}

.ups-form {
    width: 100%;
    display: inline-block;
}

.ups-space-up-50 textarea {
    background-color: #F3F3F3;
    height: 250px;
    padding: 6px 0px 0px 35px;
    overflow: hidden;
}

#select-subject {
    height: 45px;
    width: 484px;
    background: #F3F3F3;
    border: none;
    color: #9A9696;
    font-size: 20px;
    font-family: roboto-medium;
    padding-left: 22px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.ups-cont-details {
    font-size: 45px;
    text-decoration: none;
    font-family: roboto-bold;
    color: #2d3e52;
    transition: all .4s ease;
    padding-left: 35px;
}

.ups-cont-details:hover {
    color: #25ABD1;
}


/* cta-3 */

#cta3 {
    width: 100%;
    background-color: #2d3e52;
}

.cta-text-3 {
    font-size: 90px;
    font-family: roboto-bold;
    color: white;
    line-height: 1em;
}


/* footer */

.social-icons {
    list-style: none;
    padding: 0;
    text-align: center;
}

.social-icons li {
    display: inline-block;
    padding: 0px 20px;
}

.social-icons li>a {
    color: #2d3e52;
    font-size: 50px;
    transition: all .4s ease;
}

.social-icons li>a:hover {
    color: #25ABD1;
}

.term-pol a,
.term-pol span {
    color: #2d3e52;
    font-size: 35px;
    font-family: roboto-medium;
    transition: all .4s ease;
}

.term-pol a:hover {
    color: #25ABD1;
}

.footer-text h5 {
    font-family: roboto-regular;
    color: #2d3e52;
    font-size: 20px;
}

.screen .content-wrapper .content .text {
    position: relative;
    top: -140px;
}


/* typeform */

.typeform-widget {
    margin-left: 10%;
}


/* media queries */


/* iphone 5 - 6 */

@media only screen and (max-width: 375px) {
    .about-text {
        font-size: 20px;
    }
    .about-greeting {
        font-size: 38px;
    }
    .ups-title {
        font-size: 60px;
    }
    .ups-cont-details {
        font-size: 25px !important;
    }
    .ups-icon-acc {
        font-size: 30px;
    }
    .uk-accordion-title {
        font-size: 20px;
    }
}


/* galaxy tab */

@media screen and (max-height: 1280px) {
    /* .ups-content-mobile {
        padding: 50% 0; 
    } */
}


/* random screen size */

@media only screen and (max-width: 850px) {
    .typeform-widget {
        margin: 45px auto !important;
    }
    .mascot-image {
        width: 57px;
    }
}

@media only screen and (max-width: 530px) {
    .ups-cont-details {
        font-size: 30px;
    }
    .ups-title-mobile {
        font-size: 50px;
    }
    #cta3 {
        display: none;
    }
    #footer {
        background-color: #2d3e52;
        width: 100%;
    }
    .social-icons li>a {
        color: white;
        font-size: 30px;
    }
    .term-pol a,
    .term-pol span {
        font-size: 20px;
        color: white;
    }
    .footer-text h5 {
        color: white;
        font-size: 15px;
    }

    .cta-text {
        font-size: 20px;
    }
}


/* medium */

@media only screen and (max-width: 959px) {
    .ups-sub-title {
        display: none;
    }
    .ups-cont-details {
        padding: 0px;
    }
}


/* small */

@media only screen and (max-width: 767px) {
    .cta-text-3 {
        font-size: 40px;
    }

    .cta-text {
        font-size: 30px;
    }
}